/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .infoBox {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 95px;
    & .infoBox__text_column {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 60%;

        & .textInfoBox {
            padding-top: 0;
        }

        & .textInfoBox__title {
            text-align:left;
            margin-top: 0px;
        }

        & .textInfoBox__sub_title {
            text-align:left;
        }

        & .textInfoBox__description {
            text-align:left;
        }
    }

    & .infoBox__image_column {
        display: flex;
        flex-direction: column;
    }
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .infoBox {
        margin-top: 0px;
        flex-direction: column;
        & .infoBox__text_column {
            display: flex;
            flex-direction: column;
            width: 100%;
            & .textInfoBox__title {
                text-align: center;
                margin-top: 0px;
            }
    
            & .textInfoBox__sub_title {
                text-align: center;
            }
    
            & .textInfoBox__description {
                text-align: center;
            }
        }

        & .infoBox__image_column {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1140px) {
    .infoBox {
        margin-top: 30px;
        padding-right: 25px;
        text-align: center;
        flex-direction: column;
        & .infoBox__text_column {
            padding-left: 25px;
            width: 100%;
            & .textInfoBox__title {
                text-align: center;
                margin-top: 0px;
            }
    
            & .textInfoBox__sub_title {
                text-align: center;
            }
    
            & .textInfoBox__description {
                text-align: center;
            }
        }

        & .infoBox__image_column {
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
                width: 80%;
            }
        }
    }
}