/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.frontHero {
    width: 100%;
}

.frontHero h1 {
    position: absolute;
    font-weight: 800;
    font-size: 42px;
    line-height: 58px;
    letter-spacing: -0.21px;
    color: #ffffff;
    margin-left: 10%;
    margin-top: -21%;
}

.frontHero img {
    object-fit: cover;
    width: 100%;
    height: auto;
    background-size: cover;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .frontHero h1 {
        font-size: 18px;
        line-height: 22px;
        margin-left: 40%;
        margin-top: -39%;
    } 
}

@media only screen and (min-width: 600px) and (max-width: 1140px) {
    .frontHero h1 {
        font-size: 32px;
        line-height: 30px;
        margin-left: 5%;
    }
}